<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IServiceDeskServices" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <security>
                        <message algorithmSuite="Default"/>
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ISubscriptionManagementService" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="6553666" maxReceivedMessageSize="6553666" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ILiveProtoCandlestickServices" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="524288" maxBufferSize="65536" maxReceivedMessageSize="65536" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="">
                            <extendedProtectionPolicy policyEnforcement="Never"/>
                        </transport>
                        <message clientCredentialType="UserName" algorithmSuite="Default"/>
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://196.2.145.117:25001/LiveProtoCandlestickServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILiveProtoCandlestickServices" contract="LiveProtoCandlestickService.ILiveProtoCandlestickServices" name="BasicHttpBinding_ILiveProtoCandlestickServices"/>
            <endpoint address="http://196.2.145.117:25002/SubscriptionManagementService" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubscriptionManagementService" contract="SubscriptionManagementService.ISubscriptionManagementService" name="BasicHttpBinding_ISubscriptionManagementService"/>
            <endpoint address="http://196.2.145.117:25001/ServiceDeskServices" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServiceDeskServices" contract="ServiceDesk.IServiceDeskServices" name="BasicHttpBinding_IServiceDeskServices"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
