<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="FinSwitchSampleTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="FinSwitchWebServiceSoap">
                    <security mode="Transport"/>
                </binding>
                <binding name="FinSwitchWebServiceSoap1"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://finswitch2.finswitch.com/webservices/finswitchwebservice.asmx" binding="basicHttpBinding" bindingConfiguration="FinSwitchWebServiceSoap" contract="FinSwitchService.FinSwitchWebServiceSoap" name="FinSwitchWebServiceSoap"/>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <FinSwitchSampleTest.Properties.Settings>
            <setting name="FinSwitchSampleTest_FinSwitchUAT_FinSwitchWebService" serializeAs="String">
                <value>https://finswitchuat.finswitch.com/webservices/finswitchwebservice.asmx</value>
            </setting>
        </FinSwitchSampleTest.Properties.Settings>
    </applicationSettings>
</configuration>
